

<h1> _single_event.html.erb ... it's a partial </h1>

<div class = "event" >
  <h3> The event name is... <%= event.name %> </h3>
  <h4> The event city is... <%= event.city %> </h4>
  <h4> The event date is... <%= event.date %> </h4>
  <h4> Capacity is... <%= event.capacity %> </h4>
</div>
